<html>
<head>
	<title>Hello Basel</title>
	<style>
		#mapid
		{
			height: 800px;
			width: 100%
		}
	</style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.3/leaflet.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.3/leaflet.js"></script>
	<script src="{{ url_for('main.static', filename='map.js') }}"></script>
	<script>
		function onNewLocation(word)
		{
            function zoomMap(data){
                map.setView(new L.LatLng(data.location.y, data.location.x), 14);
            }

		    var http_put = encodeURI("/api/v1/mapping/word/"+word);
		    $.ajax({url:http_put, type:'PUT', success: zoomMap});

            var http_get = encodeURI("/api/v1/mapping/"+word);


		   readTextFile(http_get, geojson_callback);
		}
	</script>
</head>
<body>
	<div id="mapid"></div>
	<br />
	<input type="text" id="word" value="hello basel" />
	<button onclick="onNewLocation(document.getElementById('word').value)">Go</button>
	<script>
		map_setup("mapid");
	</script>
</body>
</html>
